/* Reset some default styles */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
}

header {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    width: 100%;
    z-index: 1;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo img {
    width: 100px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    margin-right: 20px;
}

.hero {
    background-image: url('netflix.jpeg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-content {
    max-width: 600px;
}

h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

p {
    font-size: 1.25rem;
    margin-bottom: 30px;
}

.cta-button {
    display: inline-block;
    background-color: #e50914;
    color: #fff;
    padding: 10px 20px;
    font-size: 1rem;
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s;
}

.cta-button:hover {
    background-color: #ff3b2f;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6);
}
